{% extends "base.html" %}
{% block title %}Login - Blog Demo{% endblock %}
{% block content %}
  <div class="card" style="max-width:520px; margin: 0 auto;">
    <h3 style="margin-top:0">Login</h3>
    <form method="post">
      {{ form.csrf_token }}
      <label>Usuario</label>
      {{ form.username(value="admin") }}
      <div style="height:10px"></div>
      <label>Contraseña</label>
      {{ form.password(placeholder="admin123 (si no cambiaste ADMIN_PASSWORD)") }}
      <div style="height:10px"></div>
      <button type="submit">Entrar</button>
    </form>
  </div>
{% endblock %}
